@page
@*@using Microsoft.AspNetCore.Identity;*@
@model WomensTechForum2._0.Pages.Admin.AdminUIModel
@*@inject UserManager<IdentityUser> UserManager
*@@{
    //var users = UserManager.Users.ToList();
}

<div class="container py-2">
<h1>Kategorier</h1>

<h2>Redigera huvudkategorier</h2>
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>Namn</th>
        <th></th>
        <th></th>
    </tr>
@foreach(var cat in Model.MainCategories)
{
    <tr>

    <td><p>@cat.Name</p></td>
    <td><a asp-route-changeMainCatId="@cat.Id" class="btn btn-primary btn-sm">Ändra</a></td>
    <td><a asp-route-deleteMainCatId="@cat.Id" class="btn btn-danger btn-sm">Ta bort</a></td>
    </tr>
}
</table>
<h2>Lägg till en huvudkategori</h2>
<form method="post">
    <input asp-for="NewMainCategory.Id" type="hidden" />
    <label asp-for="NewMainCategory.Name" class="form-label"></label>
    <input asp-for="NewMainCategory.Name" class="form-control" placeholder="Ange namn på huvudkategori" />
    <br />
    <input type="submit" class="btn btn-success btn-sm" value="Lägg till/spara"/>

</form>
<hr />
<h2>Redigera subkategorier</h2>
<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>Namn</th>
        <th>Huvudkategori</th>
        <th>Beskrivning</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var cat in Model.SubCategories)
    {
        var mainCat = Model.MainCategories.Where(c => c.Id == cat.MainCategoryId).FirstOrDefault();

        <tr>

            <td>@cat.Name</td>
            <td>@mainCat.Name</td>
            <td>@cat.Description</td>
            <td><a asp-route-changeSubCatId="@cat.Id" class="btn btn-primary btn-sm">Ändra</a></td>
            <td><a asp-route-deleteSubCatId="@cat.Id" class="btn btn-danger btn-sm">Ta bort</a></td>
        </tr>
    }
</table>
<h2>Lägg till en subkategori</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="NewSubCategory.Id" type="hidden" />
        <label asp-for="NewSubCategory.Name" class="control-label"></label>
        <input asp-for="NewSubCategory.Name" class="form-control" />
        <span asp-validation-for="NewSubCategory.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewSubCategory.Description" class="control-label"></label>
        <input asp-for="NewSubCategory.Description" class="form-control" />
        <span asp-validation-for="NewSubCategory.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewSubCategory.MainCategoryId" class="control-label">Huvudkategori</label>
        <select asp-for="NewSubCategory.MainCategoryId" class="form-control" asp-items="ViewBag.MainCategoryId"></select>
    </div>
    <div class="form-group">
        <br />
        <input type="submit" value="Lägg till/spara" class="btn btn-success btn-sm" asp-page-handler="SubCategory"/>
    </div>
</form>

</div>
@*<form method="post">
    <input asp-for="NewSubCategory.Id" type="hidden" />
    <label asp-for="NewSubCategory.Name" class="form-label"></label>
    <input asp-for="NewSubCategory.Name" class="form-control" placeholder="Ange namn på subkategori" />
    <input type="submit" class="btn btn-secondary" value="Lägg till/spara" />
</form>*@